In [24]:
import numpy as np

In [23]:
import pandas as pd

In [96]:
s=pd.Series([2,4,6,8,10])

s

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [99]:
Data = {'test1': [85, 90, 88, 92, 95],
        'test2': [70, 85, 82, 95, 88]}
print(Data)

{'test1': [85, 90, 88, 92, 95], 'test2': [70, 85, 82, 95, 88]}

In [139]:
index= pd.Series(["A","B","C"])
columns = pd.Series("Test 1","Test 2")

values: NDArray[any]np.array

TypeError: Index(...) must be called with a collection of some kind, 'Test 2' was passed

In [138]:
index = pd.Series(["A"],["B"], name="Series")
columns = pd.Index(["Test 1"],["Test 2"], name="Columns")
df = pd.DataFrame([[85]], index=index, columns=columns)
print(df)

TypeError: Field elements must be 2- or 3-tuples, got ''Test 2''

In [149]:
pd.DataFrame({
    "index": [1,2,3,4],
    "A": [1,3,5,7],
    "B": [2,4,6,8]
})

   index  A  B
0      1  1  2
1      2  3  4
2      3  5  6
3      4  7  8

In [34]:
S = pd.Series([1,2],[3,4],[5,6],[7,8],[9,10],np.nan,[11,12])

S

TypeError: Series.__init__() takes from 1 to 7 positional arguments but 8 were given

In [36]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01  0.496723 -1.941399 -0.146921 -0.480695
2013-01-02 -1.240216  0.340450  0.944254  0.929146
2013-01-03 -1.890472 -1.222479  0.705232  1.367594
2013-01-04  0.714643  0.896665  0.801908 -0.422382
2013-01-05  0.477941  0.959067  2.168894  1.073590
2013-01-06 -0.583711  1.305185  0.598924  0.759909